*.log
backups/
/.venv
golden_era_marketplace/venv
__pycache__/
.pytest_cache/
.vscode/
*.pyc
node_modules//.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.env
.vscode/
.idea/
dist/
build/
*.egg-info/
.pytest_cache/
.master_system.sh.swp